<nav>
    <div class="navTravel">
        <div class="navLogo">
            <img src="/assets/icons/logo.svg" alt="">
            <h3 class="" id="logoHome">Pathway</h3>
        </div>

        <ul>
            <li><a href="index.html">Destinations</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Blog</a></li>
            <li><a href="contact.html">Page</a></li>
        </ul>

        <div>
            <button>Login</button>
            <button>Signup</button>
        </div>
    </div>
  
   
</nav>