#home1 {
    margin-top: 100px;
    background-color: #FFF9E5;
     margin: 0 auto;
    padding: 100px 100px;
}
.content-home1 {
    width: 570px;
}
.content-home1 h1 {
    font-size: xx-large;
    font-weight: bold;
}